version: '3.8'

services:
  # API FastAPI
  api:
    build: 
      context: .
      dockerfile: dockerfiles
    container_name: apartment-hunter-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models:ro
    restart: unless-stopped

  # Frontend Streamlit (optionnel)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: apartment-hunter-frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    restart: unless-stopped